@charset "UTF-8";
/* CSS Document */

{% load staticfiles %}

a:link {

    padding-left: 10px;
    padding-right: 10px;

}

header {
    align-content: bottom;
    background-image: url("/static/img/header_bkgd.a46eb7185a46.jpg");
    /*background-color: #2a6496;*/
}