{% extends 'base_template.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block content %}

<div style="width: 510px; padding: 10px; color: #555;">

<hr>
<h2>Renter List</h2>

    {% for renter in renters %}
        <br>
        <div style="padding-right: 20px;">
        <img style="padding: 1px; border: 1px solid #cccccc; width: 39px;" src="{{ renter.image.url }}" />
        <a style="font-size: 18px; background-color: #eee; padding: 8px; width: 300px; border-radius: 4px;" href="{% url "view_renter" renter.id %}">{{ renter.first_name }} {{ renter.last_name }}</a>
        </div>

    {% endfor %}

<br>
<br>


<hr>

<a href="{% url "add_renter" %}" class="btn btn-primary">Add new renter</a>
&nbsp;&nbsp;
<a href="{% url "home" %}" class="btn btn-primary" >Back to home</a>

</div>

{% endblock content %}