{% extends 'base_template.html' %}
{% load staticfiles %}

{% block content %}

<div style="width: 610px; padding: 10px; color: #555;">

<hr>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"><h2>{{ renter.first_name }} {{ renter.last_name }}</h2>
<br>
    <p style="font-size: 18px; background-color: #eee; padding: 8px; width: 300px; border-radius: 4px;">{{ renter.aptnum }}</p>
    <p style="font-size: 18px; background-color: #eee; padding: 8px; width: 300px; border-radius: 4px;">{{ renter.email }}</p>
    <p style="font-size: 18px; background-color: #eee; padding: 8px; width: 300px; border-radius: 4px;">{{ renter.phone }}</p></td>
    <td align="left" valign="top">
        <div style="padding-left: 50px;">
        <img style="padding: 5px; border: 1px solid #cccccc; width: 240px;" src="{{ s3_url }}{{ renter.image }}" />
        </div>
    </td>

  </tr>
</table>
<hr>

<br>




<a href="{% url "edit_renter" renter.id %}" class="btn btn-primary">Edit renter</a>&nbsp;&nbsp;

<a href="{% url "delete_renter" renter.id %}" class="btn btn-primary">Delete renter</a>&nbsp;&nbsp;

<a href="{% url "home" %}" class="btn btn-primary">Back to home</a>&nbsp;&nbsp;

<a href="{% url "renter" %}" class="btn btn-primary">Back to renter</a>


</div>

{% endblock content %}