{% extends 'base_template.html' %}
{% load staticfiles %}

{% block content %}

<div style="margin: 50px 50px 50px 50px; font-size: 18px;">

display apartments
<hr>

    {% for apartment in apartments %}
         <a href="{% url "view_apartment" apartment.id %}">{{ apartment.buidlingnum }} - {{ apartment.floor }} floor </a>
        <br>
    {% endfor %}

<br>
<br>
<br>

<hr>

<a href="{% url "add_apartment" %}">Add new apartment</a>
<br><br>
<a href="{% url "home" %}">Back to home</a>

</div>

{% endblock content %}