{% extends 'base_template.html' %}
{% load staticfiles %}

{% block content %}

<div style="width: 400px; padding: 10px; color: #555;">

<hr>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"><h2>{{ apartment.buidlingnum}}</h2>
<br>
<p style="font-size: 18px; background-color: #eee; padding: 8px; width: 300px; border-radius: 4px;">floor : {{ apartment.floor }}</p>
<p style="font-size: 18px; background-color: #eee; padding: 8px; width: 300px; border-radius: 4px;">unit number : {{ apartment.unit_number }}</p>
<p style="font-size: 18px; background-color: #eee; padding: 8px; width: 300px; border-radius: 4px;">{{ apartment.bedroom }} Bed + {{ apartment.bathroom }} Bath</p>
<p style="font-size: 18px; background-color: #eee; padding: 8px; width: 300px; border-radius: 4px;">{{ apartment.sq_ft }} square feet</p>
    </td>
    <td valign="bottom"><div style="padding-left: 50px;">
    <img style="padding: 5px; border: 1px solid #cccccc; width: 400px; height: 240px;" src="{{ apartment.image.url }}" />
   </div> </td>
  </tr>
</table>

<br>
<hr>
</div>
<a href="{% url "edit_apartment" apartment.id %}" class="btn btn-primary">Edit apartment</a>&nbsp;&nbsp;

<a href="{% url "delete_apartment" apartment.id %}" class="btn btn-primary">Delete apartment</a>&nbsp;&nbsp;

<a href="{% url "home" %}" class="btn btn-primary">Back to home</a>&nbsp;&nbsp;

<a href="{% url "apartment" %}" class="btn btn-primary">Back to apartment</a>




{% endblock content %}